@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

/*font-family: 'Ubuntu', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.container{
background: #222831;
height: 100vh;
display: flex;
justify-content: center;
align-items: flex-start;
padding-top: 80px;
}

.menu{
    display: grid;
    grid-template-rows: 40px max-content;
    gap: 10px;
}

.toggle{
    all: unset;
    background-color: #FF2E63;
    color: white;
    width: 150px;
    padding: 10px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.toggle::after{
    content: "";
    width: 6px;
    height: 6px;
    border-width: 0 3px 3px 0;
    border-style: solid;
    transform: rotate(45deg);
    transition: 0.4s;
}

.list{
    background-color: white;
    color: #444;
    list-style: none;
    display: grid;
    grid-template-rows: repeat(4, 40px);
    border-radius: 5px;
    overflow: hidden;
    height: 0;
    transition: 0.4s;
}

.list-item{
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.4s transform 0.4s var(--delay);
    transform: translateX(-100%);
    user-select: none;
    cursor: pointer;
}

.list-item:hover{
    background-color: #FF2E63;
    color: #fff;
}
.toggle:focus::after{
    transform: rotate(225deg);
}

.toggle:focus ~ .list{
    height: 160px;
}

.toggle:focus ~ .list .list-item{
    transform: translateX(0);
}